.button {
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s ease;
    &.primary {
        color: #fff;
        background-color: #1890ff;
        border-color: #1890ff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
        &:hover {
            color: #fff;
            background-color: #40a9ff;
            border-color: #40a9ff;
        }
        &:active {
            color: #fff;
            background-color: #096dd9;
            border-color: #096dd9;
        }

    }
    &:active, &:focus {
        outline: 0;
        box-shadow: none;
    }
}
